<table class="w-full text-center border-collapse">
  <thead>
    <tr class="bg-surface-container border-b border-outline-variant">
      <th class="px-md py-sm font-label-sm text-label-sm text-on-surface-variant uppercase tracking-widest">Name</th>
      <th class="px-md py-sm font-label-sm text-label-sm text-on-surface-variant uppercase tracking-widest">
        Grade
        Level
      </th>
      <th class="px-md py-sm font-label-sm text-label-sm text-on-surface-variant uppercase tracking-widest">
        Date of
        Birth
      </th>
      <th class="px-md py-sm font-label-sm text-label-sm text-on-surface-variant uppercase tracking-widest">
        Enrolled Courses
      </th>
      <th class="px-md py-sm font-label-sm text-label-sm text-on-surface-variant uppercase tracking-widest">Actions</th>
    </tr>
  </thead>
  <tbody class="divide-y divide-outline-variant">
    {% for student in students %}
      <tr class="bg-white transition-colors border-b border-outline-variant last:border-b-0 hover:bg-surface-container-low">
        <td class="px-md py-sm font-body-md text-body-md font-medium text-lg tracking-wide">
          {{ student.first_name }}
          {{ student.last_name }}
        </td>
        <td class="px-md py-sm font-body-md text-body-md">{{ student.grade_level }}th</td>
        <td class="px-md py-sm font-body-md text-body-md">{{ student.dob }}</td>
        <td class="px-md py-sm font-body-md text-body-md">
          {% if student.courses.count != 0 %}
            {{ student.courses.count }}
          {% else %}
            n/a
          {% endif %}
        </td>
        <td class="flex flex-col px-md py-sm font-body-md text-body-md">
          <a class="flex items-center font-semibold hover:text-primary-container"
             href="{% url 'gradebook:student_detail' student.pk %}">
            <span class="material-symbols-outlined">search</span>
            View
          </a>
          <a class="flex items-center font-semibold hover:text-primary-container"
             href="{% url "gradebook:student_edit" student.pk %}">
            <span class="material-symbols-outlined">person_edit</span>
            Edit
          </a>
          <a class="flex items-center font-semibold hover:text-primary-container"
             href="#">
            <span class="material-symbols-outlined">delete</span>
          Delete</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
