{% extends 'base.html' %}
{% block title %}
Login | Academic Atelier
{% endblock title %}

{% block main %}
<main class="w-full flex-1 flex items-center justify-center p-md">
  <div class="w-full max-w-[448px] bg-surface-container-lowest border border-outline-variant p-lg rounded-xl shadow-sm">
    <div class="text-center mb-lg">
      <div
        class="inline-flex items-center justify-center w-12 h-12 bg-primary-container text-on-primary-container rounded-full mb-md">
        <span class="material-symbols-outlined text-3xl">school</span>
      </div>
      <h1 class="font-h2 text-on-surface mb-xs">Welcome back</h1>
      <p class="font-body-md text-on-surface-variant">Please enter your details to sign in</p>
    </div>
    <form action="#" class="space-y-md" method="POST">{% csrf_token %}
      <div class="space-y-base">
        <label class="block font-label-sm text-on-surface" for="id_username">Username</label>
        {{ form.username }}
      </div>
      <div class="space-y-base">
        <label class="block font-label-sm text-on-surface" for="id_password">Password</label>
        {{ form.password }}
      </div>
      <div class="flex items-center justify-between">
        <div class="flex items-center gap-xs">
          <input class="h-4 w-4 text-primary focus:ring-primary border-outline-variant rounded-sm" id="remember-me"
            name="remember-me" type="checkbox" />
          <label class="font-label-sm text-on-surface-variant" for="remember-me">Remember me</label>
        </div>
        <a class="font-label-sm text-primary hover:underline" href="#">Forgot
          password?</a>
      </div>
      <button
        class="w-full flex justify-center py-xs px-sm border border-transparent rounded bg-primary text-on-primary font-label-sm hover:opacity-90 transition-opacity"
        type="submit">
        Sign in
      </button>
      <p class="text-center font-body-md text-on-surface-variant mt-md">
        Don't have an account?
        <a class="text-primary font-semibold hover:underline" href="{% url 'accounts:register_view' %}">Create
          account</a>
      </p>
    </form>
  </div>
</main>

{% endblock main %}