{% extends 'base.html' %}

{% block main %}
<!-- <h1>Create Course</h1>
<form method="post">{% csrf_token %}
  {{ form.as_div }}
  <button type="submit">Create</button>
</form> -->
<main class="grow pt-32 pb-24 px-6 relative overflow-hidden">
  <!-- Abstract Decorative Elements -->
  <div class="max-w-2xl mx-auto text-center space-y-12 shadow-md shadow-accent rounded-2xl">
    <!-- Hero Content -->

    <!-- Form Section -->
    <div
      class="bg-surface-container-lowest rounded-lg p-10 md:p-16 text-left relative overflow-hidden">
      <h1 class="text-4xl font-semibold tracking-tight text-slate-900 font-body-md mb-5">
        Create New Course
      </h1>
      <form method="post" class="space-y-10">{% csrf_token %}
        <div class="space-y-2">
          <label class="font-label text-xs uppercase tracking-widest text-outline font-semibold" for="id_title">Course
            Title</label>
          {{ form.title }}
        </div>
        <div class="space-y-2">
          <label class="font-label text-xs uppercase tracking-widest text-outline font-semibold" for="id_teacher">Course
            Instructor</label>
          <div class="relative group">
            <select name="teacher" id="id_teacher" class="w-full appearance-none bg-surface-container-low border-outline-variant border-opacity-15 rounded-lg px-5 py-4 focus:ring-4 focus:ring-primary-fixed focus:border-primary transition-all duration-300 font-body text-lg outline-none cursor-pointer">
            {% for pk, choice in form.teacher.field.choices %}
              {% if user.username == choice %}
              <option value="{{ pk }}" selected>
                {{ choice }}
              </option>
            {% endif %}
              {% endfor %}
            </select>
            <span
              class="material-symbols-outlined absolute right-5 top-1/2 -translate-y-1/2 pointer-events-none text-outline">expand_more</span>
          </div>
        </div>
        <div class="pt-6">
          <button
            class="w-full bg-primary text-on-primary font-headline text-xl py-5 rounded-full shadow-lg hover:shadow-xl hover:scale-[1.02] active:scale-[0.98] transition-all duration-300 group"
            type="submit">
            <span class="flex items-center justify-center gap-2">
              Create Course
              <span
                class="material-symbols-outlined group-hover:translate-x-1 transition-transform">arrow_forward</span>
            </span>
          </button>
        </div>
      </form>
    </div>
    <!-- Footer Decorative -->
  </div>
</main>
{% endblock main %}