{% extends 'base.html' %}

{% block main %}
{% include 'gradebook/partials/add_student_dialog.html' %}
<main class="max-w-7xl mx-auto px-6 py-xl">
  <div class="mb-lg">
    <h1 class="font-h1 text-h1 text-on-background mb-base">Student Roster</h1>
    <p class="font-body-lg text-body-lg text-on-surface-variant">Click on Student Name for Details</p>
    <p class="font-body-lg text-body-lg text-on-surface-variant text-sm">
      Total Students: {{ students.count }}
    </p>
    <button
      id="show-student-dialog-btn"
      class="bg-primary hover:bg-primary-container text-white px-6 py-2 rounded-DEFAULT font-label-sm text-label-sm transition-colors duration-200 ease-in-out"
    >
        Add Student
    </button>
  </div>
  <!-- Student Data Table -->
  <div class="bg-white border border-outline-variant overflow-hidden">
    <table class="w-full text-left border-collapse">
      <thead>
        <tr class="bg-surface-container border-b border-outline-variant">
          <th class="px-md py-sm font-label-sm text-label-sm text-on-surface-variant uppercase tracking-widest">Name
          </th>
          <th class="px-md py-sm font-label-sm text-label-sm text-on-surface-variant uppercase tracking-widest">Grade
            Level</th>
          <th class="px-md py-sm font-label-sm text-label-sm text-on-surface-variant uppercase tracking-widest">Date of
            Birth</th>
          <th class="px-md py-sm font-label-sm text-label-sm text-on-surface-variant uppercase tracking-widest">Enrolled Courses</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-outline-variant">
        {% for student in students %}
        <tr
          class="bg-white transition-colors border-b border-outline-variant last:border-b-0 hover:bg-surface-container-low">
          <td class="px-md py-sm font-body-md text-body-md">
            <a class="text-primary-container font-semibold hover:underline"
              href="{% url 'gradebook:student_detail' student.pk %}">
              {{ student }}
            </a>
          </td>
          <td class="px-md py-sm font-body-md text-body-md">{{ student.grade_level }}th</td>
          <td class="px-md py-sm font-body-md text-body-md">{{ student.dob }}</td>
          <td class="px-md py-sm font-body-md text-body-md">
            {% if student.courses.count != 0 %}
              {{ student.courses.count }}
            {% else %}
            n/a
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</main>
{% endblock main %}