<nav
  class="fixed top-0 w-full z-50 bg-white/80 backdrop-blur-lg shadow-sm shadow-blue-900/5 flex justify-between items-center px-12 py-6">
  <div class="font-headline italic text-2xl text-blue-900">Academy Editorial</div>
  <div class="hidden md:flex items-center space-x-12 font-headline text-lg tracking-tight">
    {% if user.is_authenticated %}
    <!-- Hover Style: text-blue-800 border-b-2 border-blue-600 font-semibold transition-colors duration-300 -->
    <a class="text-slate-600 font-medium transition-colors duration-300 hover:text-blue-800 hover:border-b-2"
      href="#">Courses</a>
    <a class="text-slate-600 font-medium transition-colors duration-300 hover:text-blue-800 hover:border-b-2"
      href="#">Students</a>
    <a class="text-slate-600 font-medium transition-colors duration-300 hover:text-blue-800 hover:border-b-2"
      href="#">Grades</a>
    {% else %}
    <a class="text-slate-600 font-medium transition-colors duration-300 hover:text-blue-800 hover:border-b-2"
      href="#">About</a>
    {% endif %}
  </div>
  {% if not user.is_authenticated %}
  <a class="bg-linear-to-br from-primary to-primary-container text-on-primary px-8 py-3 rounded-full font-body font-semibold tracking-wide scale-95 active:scale-100 transition-transform"
    href="{% url 'accounts:login_view' %}">
    Portal Login
  </a>
  {% else %}
  <form method="post" action="{% url 'accounts:logout_view' %}">{% csrf_token %}
    <button
      class="bg-linear-to-br from-primary to-primary-container text-on-primary px-8 py-3 rounded-full font-body font-semibold tracking-wide scale-95 active:scale-100 transition-transform"
      type="submit">
      Logout
    </button>
  </form>
  {% endif %}
</nav>